html{background-image:url(https://media.istockphoto.com/vectors/vector-bowling-seamless-pattern-color-background-and-outline-design-vector-id585607042)}
body{background:rgba(255, 255, 255, 0.9);height:100%;margin:10px 5px 0px;padding:5px;border-radius:5px}

.App{text-align:center}
.App h1{text-align:center;margin:0}
.App .instructions{background:white;border-radius:5px;display:inline-block;text-align:left}
.App h2{margin:0;display:inline;}
.App h2:after{content:': '}
.App p{margin:0;display:inline;border-radius:5px}
.App table{border-collapse:collapse;margin: 5px 0 0}
.App table th{padding:5px;text-align:center}
.App table td{padding: 0px 5px;vertical-align:top;text-align:left}
.App table td:nth-child(2){text-align:center}
td,th{border:1px solid black}
/* th:not(:last-child),td:not(:last-child){border-right:1px solid black}
tr{} */

input, button{font-size:15px;padding:5px 10px;overflow:hidden;}
.game button.addPlayerButton{background:#42A5E0;color:white;margin:5px;padding:10px;font-weight:bold}
* button,.autoAdvanceContainer{border-radius:3px;box-shadow:3px 3px 5px gray;border:1px solid black}
* button:hover,.autoAdvanceContainer:hover{box-shadow:2px 2px 4px gray;}

.autoAdvanceContainer{background:white;color:black;font-weight:bold;padding:10px;margin:5px 5px 5px 20px;padding:5px;position:relative;cursor:default;user-select:none;border-radius:25px}
.autoAdvanceContainer p{margin:10px 10px 10px 5px}
.autoAdvanceContainer input{height:40px;width:40px;position:absolute;z-index:1;opacity:0;right:3px;bottom:-5px}

.autoAdvanceContainer span{height:18px;position:relative;display:inline-block;border-radius:25px;top:2.5px;width:32px;transition:0.25s;border:1px solid black;background: linear-gradient(to right, #42A5E0 50%, #EF2547 50%);background-size: 150% 100%;background-position:right bottom;}
.autoAdvanceContainer span span{top:-1px;right:13px;background:white;width:18px;position:absolute;transition: 0.25s}
.autoAdvanceContainer input:checked ~ span span{right:-1px;transition:0.25s}
.autoAdvanceContainer input:checked ~ span{background-position:left bottom;transition:0.25s}

.player{border:1px solid black;margin:5px;padding:5px;border-radius:3px;box-shadow:4px 4px 5px gray;background:white;text-align:left}
.player input,.player button{margin:0px 5px}
.player input.nameInput{width:300px;max-width:30%}
.player input{box-shadow:inset 0.5px 0.5px 0.5px gray;}
.player button{background:#EF2547;position:relative;float:right;color:white;font-weight:bold;width:25%;max-width:350px;white-space:nowrap}
.player button.clearScoreButton{background:#F8AF19;width:auto;}

.playerGame{border:1px solid black;padding:0;display:grid;grid-template-columns:repeat(22,1fr);margin:10px 5px 5px;height:90px;border-radius:3px;overflow:hidden}
.playerGame span{text-align:center;}
.playerGame span:nth-child(even){border-right:1px solid black;border-left:1px dashed black;border-bottom:1px dashed black}
.playerGame span input{width:90%;height:85%;margin:auto;padding:0;font-size:20px;text-align:center;box-shadow:inset 0.5px 0.5px 0.5px gray}
.playerGame p.sum{text-align:center;padding:0;grid-row:span 2;width:100px;border:none;font-size:35px;margin:auto}
.playerGame span:nth-child(21),.playerGame div:last-child{border-right:1px solid black}
.playerGame div{grid-column:span 2;margin:0;font-size:20px;text-align:center;padding-top:10px}
.playerGame div:not(:last-child){border-right:1px solid black}
.playerGame div:last-child{grid-column:span 3}

@media only screen and (max-width:750px){
  .game button,.player button,.autoAdvanceContainer{font-size:12px;box-shadow:2px 2px 4px gray;margin-bottom:2px}

  h1{font-size:30px}
  h2{font-size:20px}
  .instructions p{font-size:13px}
  table{font-size:12px}

  .autoAdvanceContainer span{top:5px}

  .player{padding:1px;margin:1px 1px 5px;box-shadow:none}
  .player input.nameInput{font-size:10px;border:1px solid lightgray;margin:1px}

  .playerGame{margin:1px;height:auto;width:100%}
  .playerGame p.sum{font-size:14px;width:40px}
  .playerGame span.roll{border:none;}
  .playerGame span.roll:nth-child(even){border-right:1px solid black}
  .playerGame span.roll:nth-child(20){border-right:none}
  .playerGame span.roll input{font-size:10px;height:20px;width:95%;border:0.5px solid gray;position:relative;bottom:1px}
  .playerGame div{font-size:12px;height:10px;padding:5px}
}